<form class='po-form' method="POST" enctype="multipart/form-data">
  	<p class='form-title'>Добавить программное обеспечение</p>
  	<input type="text" required name="name" placeholder="Название ПО"><br>
	<input type="text" required name="ver" placeholder="Версия"><br>
	<input type="radio" name="type" value="free" checked="true" onchange="changeRadio()">Свободное 
	<input type="radio" name="type" value="pay" id="open_license" onchange="changeRadio()">Платное<br>
	<div id="license">
		<input type="text" name="l_name" placeholder="Название лицензии" class="changeattr"><br>
		Срок действия лицензии:<br>
		<div class="license-date">
			с: <input type="date" name="start_at" class="changeattr"> 
			<input type="checkbox" name="unlim" id="unlim" checked onchange="changeCheck()">бессрочно<br>
			<div id="unlim_on">
				по: <input type="date" name="end_at" class="changeCheck">
			</div>
		</div>
		<input type="text" name="doc_num" placeholder="Номер договора" class="changeattr"><br>
		<div class="file-block">
			Файл договора:<br>
			<div class="custom-input">
				<div class="form-group">
				    <input type="file" name="doc_link" id="file" class="input-file">
				    <label for="file" class="btn btn-tertiary js-labelFile">
				      	<i class="icon fa fa-check"></i>
				      	<span class="js-fileName">Загрузить файл</span>
				    </label>
				</div>
			</div>
		</div>
	</div>
  	<input type="submit" name="add_software" value="Добавить ПО">
</form>