<div class="main">
  <div class='left-block'>
    <table border='1' class='po-table' id='cabinet-table'>
      <tr>
        <td>№</td>
        <td>Номер</td>
        <td>Корпус</td>
        <td>Количество мест</td>
        <td>Доска</td>
        <td>Место преподавателя</td>
      </tr>
    </table>
  </div>
  <div class='right-block'>
    <form class='po-form' onsubmit='return false;' id='cabinetsForm'>
      <p class='form-title'>Добавить кабинет</p>
      <input type='text' name='number' placeholder='Номер'>
      <input type='text' name='housing' placeholder='Корпус'>
      <input type='text' name='number_seats' placeholder='Количество посадочных мест'>
      <div class='license'>
        <input type='checkbox' name='workplace' id='workplace-check' value='0'>
        <p>Рабочее место преподавателя</p>
      </div>
      <div class='license'>
        <input type='checkbox' name='board' id='board-check' value='0'>
        <p>Доска</p>
      </div>
      <input type='button' value='Добавить' onclick='addСabinet()'>
    </form>
  </div>
</div>