<header>
	<a class="link" href="./softwarePage.php">Программное обеспечение</a>
	<a class="link" href="./cabinetPage.php">Кабинеты</a>
	<a class="link" href="./subjectPage.php">Предметы</a>
	<a class="link" href="./corpusPage.php">Корпусы</a>
	<a class="link" href="./workplacesPage.php">Компьютерные рабочие места</a>
	<a class="link" href="./cabinetWorkplacePage.php">Рабочие места в кабинете</a>
	<a class="link" href="./cabinetToSubjectPage.php">Кабинеты к предмету</a>
	<a class="link active-link" href="./reportPage.php">Отчёты</a>
</header>