<div class="main">
  <form class='container-reports' id='reportsForm' method="post">
    <select class='' name='subject' id='selectSubject'>
      <option disabled selected>Предмет</option>
    </select>
    <select class='' name='cabinet' id='selectCabinet'>
      <option disabled selected>Кабинет</option>
    </select>
    <select class='' name='software' id='selectSoftware'>
      <option disabled selected>Программное обеспечение</option>
    </select>
    <input type='submit' value='Сформировать' name="report">
  </form>
</div>