<div class='main'>
  <form class='container-reports'>
    <select class='' name='subject'>
      <option disabled>Предмет</option>
      <option>1</option>
      <option>2</option>
    </select>
    <select class='' name='cabinet'>
      <option disabled>Кабинет</option>
      <option>1</option>
      <option>2</option>
    </select>
    <select class='' name='software'>
      <option disabled>Программное обеспечение</option>
      <option>1</option>
      <option>2</option>
    </select>
    <input type='button' value='Сформировать' onclick='createReport()'>
  </form>
</div> 
