<div class="main">
  <div class='left-block'>
    <table border='1' class='po-table' id='subject-table'>
      <tr>
        <td>№</td>
        <td>Название</td>
      </tr>
    </table>
  </div>
  <div class='right-block'>
    <form class='po-form' onsubmit='return false;' id='subjectsForm'>
      <p class='form-title'>Добавить предмет</p>
      <input type='text' name='title' placeholder='Название'>
      <input type='button' value='Добавить' onclick='addSubjects()'>
    </form>
  </div>
</div>