#app .main {
  width: 100%;
  height: 92vh;
}

#app .main .left-block {
  width: 70%;
  height: 100%;
  display: inline-block;
  overflow-y: auto;
}

#app .main .left-block .po-table {
  border-collapse: collapse;
  border-color: black;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
  text-align: center;
  border-spacing: 0px;
}

#app .main .left-block .po-table tr:first-child td {
  height: 50px;
  padding: 0 20px;
}

#app .main .left-block .po-table tr td {
  padding: 10px 0;
}
#app .main .left-block .po-table tr td:last-child {
  padding: 0;
}

#app .main .right-block {
  width: 30%;
  height: 100%;
  float: right;
}

#app .main .right-block .po-form {
  width: 95%;
  height: 95%;
  background-color: #C4C4C4;
  text-align: center;
  margin: 2.5%;
  position: relative;
}

#app .main .right-block .po-form .form-title {
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 20px;
}

#app .main .right-block .po-form .license, #app .main .right-block .po-form .license-date {
  text-align: left !important;
  margin-left: 5%;
  padding: 10px 0;
}

#app .main .right-block .po-form .license-date p {
  margin: 4%;
  font-size: 16px;
}

#app .main .right-block .po-form .license-date input[type="date"] {
  border: none;
  height: 50px;
  line-height: 50px;
  outline: none;
  width: 30%;
  margin: 10px 0;
}

#app .main .right-block .po-form select {
  margin: 5px 0;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}

#app .main .right-block .po-form input[type="checkbox"] {
  margin: 5px;
}

#app .main .right-block .po-form input[type="text"], #app .main .right-block .po-form input[type="number"] {
  margin-left: 5%;
  border: none;
  height: 40px;
  margin: 5px;
  outline: none;
  color: black;
  padding-left: 20px;
  width: calc(90% - 20px);
  font-size: 16px;
}

#app .main .right-block .po-form input[type="submit"] {
  background-color: #6E6BFF;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  width: 90%;
  height: 40px;
  outline: none;
  color: black;
  border: none;
  left: 5%;
  font-size: 16px;
}

#app .main .right-block .po-form input[type="radio"] {
  margin: 10px;
}

#app .main .right-block .po-form input[type="submit"]:hover, #app .main .container-reports input[type="submit"]:hover {
  background-color: #8886ff;
}

#app .main .right-block .po-form input[type="text"]::placeholder {
  color: black;
}

#app .main .container-reports {
  width: 100%;
  display: flex;
  justify-content: center;
}

#app .main .container-reports select {
  height: 40px;
  width: 20%;
  margin: 20px;
  outline: none;
  background-color: #C4C4C4;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#app .main .container-reports input[type="submit"] {
  margin: 10px;
  cursor: pointer;
  height: 60px;
  width: 25%;
  border: none;
  background-color: #6E6BFF;
  font-size: 16px;
}

#open_license:checked ~ #license{
  display: block;
}

#license {
  display: none;
}

#unlim {
  margin-left: 10%;
  margin-right: 5px;
}

#unlim:checked ~ #unlim_on {
  display: none;
}

/*input-file*/

.file-block, .custom-input {
  margin-top: 10px;
}

.custom-input .btn-tertiary{
  color:#555;
  padding:0;
  line-height:40px;
  width:300px;
  margin:auto;
  display:block;
  border:2px solid #555
}

.custom-input .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
  color:#888;
  border-color:#888
}

.custom-input .input-file{
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1
}

.custom-input .input-file + .js-labelFile{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0 10px;
  cursor:pointer
}

.custom-input .input-file + .js-labelFile .icon:before{
  content:"\f093"
}

.custom-input .input-file + .js-labelFile.has-file .icon:before{
  content:"\f00c";
  color:#5AAC7B
}

/**/

td, th {
  border: 1px solid black;
}

.rm_button {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #FF9696;
	color: white;
	display: inline-block;
	text-decoration: none;
}
.rm_button:hover {
	color: white;
	background-color: #FF4C4C;
}
